* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-wrapper{
    background: #2F1893;
    padding: 40px 150px 60px;
}
.nav-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
}
.nav-top a {
    text-decoration: none;
}
.logo {
    font-size: 24px;
    color: #fff;
    font-weight: 600;
}
.nav-menu a {
    padding: 0 25px;
    font-size: 18px;
    color: #fff;
}
.nav-menu a.active {
    color: #6D5DB3;
}
.pink-btn {
    background: #E23879;
    padding: 8px 25px;
    color: #fff;
    border-radius: 25px;
    outline: none;
    font-size: 18px;
    cursor: pointer;
    border: none;
}
.banner-content {
    padding-top: 20px;
    padding-right: 40px !important;
}
.banner-content h1 {
    font-size: 50px;
    line-height: 56px;
    color: #fff;
    font-weight: 600;
}
.banner-content p {
    padding: 20px 0;
    width: 80%;
    color: #fff;
}

.form {
    background: #fff;
    padding: 50px 70px;
    border-radius: 4px;
    font-size: 18px;
}
.form h2 {
    color: #1E0E62;
    font-weight: 600;
    font-size: 40px;
    line-height: 46px;
    text-align: center;
    padding-bottom: 20px;
}
.form input[type=text] {
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 25px;
    border: 1px solid #EBEAED;
}
.form input[type="checkbox"]:checked {
    background: #25DAC5;
}
.form input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;

}
.checkbox {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    color: #646464;
}
.cm-btn {
   
    display: block;
    border-radius: 25px;
    border: none;
    outline: none;
    width: 100%;
    padding: 8px 25px;
    color: #fff;
}
.sign-in {
    background: #482BE7;
}
.twitter {
    background: #1DA1F2;
}
.hor-bar {
    width: 100%;
    height: 1px;
    background: #eee;
    margin: 20px 0;
    position: relative;
}
.span-or {
    position: absolute;
    right: 40%;
    top: -14px;
    background: #fff;
    padding: 0 20px;
    color: #646464;
}
.signin-b {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.signin-b span {
    color: #646464;
}
.signin-b  a {
    color: #77E8DB;
    padding-left: 10px;
    text-decoration: none;
}